@page {
  size: A4;
  margin: 0;
}
@media print {
  body > * { display: none; }
  .lipu {
    display: block;
    width: 1024px;
  }
  body input[value="monsi"]:checked ~ .lipu {
    direction: rtl;
  }
  .lipu-lili {
    display: inline-block;
    direction: ltr;
    page-break-inside: avoid;
  }
}
